@import "../../../scss/mixins";

.article-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: var(--size-sm);
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;

  &__card {
    display: flex;
    gap: var(--size-sm);
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}
