<div class="bio">
    <div class="bio__image">
        <img src="assets/images/doll-round.png" alt="My profile image, which is a photo of a doll my daughter once took.">
    </div>

    <div class="bio__about">
        <h2 class="bio__name">Mark Blandford</h2>
        <h3 class="bio__tagline">Fullstack, Engineering Manager</h3>
        <p class="bio_more">
            I'm hava a .NET background and am currently working
            with Angular & Java with a keen interest in application security.
        </p>
    </div>
</div>