@import "../../../scss/mixins";

.bio {

  @include breakpoint(md) {
    --base-font-size: 16px;
  }

  &__image {
    display: none;

    @include breakpoint(md) {
      display: flex;
      justify-content: center;
    }
  }

  &__name {
    font-family: var(--font-family-alt);
    font-weight: 400;
  }
}
