@import "../scss/mixins";

.app {
  background-color: var(--bg-color);
  display: grid;
  height: fit-content;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  grid:
    "header header" auto
    "body body" 1fr
    "sidebar sidebar" auto
    "footer footer" auto
    / 1fr;
  grid-gap: 0;

  @include breakpoint(md) {
    grid:
      "header header" auto
      "sidebar body" 1fr
      "footer footer" auto
      / minmax(222px, 1fr) 5fr;
  }

  &__header {
    grid-area: header;
    background-color: var(--bg-color);
    padding: 0 var(--size-sm);
    border-top: var(--size-xxxxs) solid var(--color-super-blue);
    position: sticky;
    top: 0;

    display: flex;
    flex-flow: column wrap;

    @include breakpoint(md) {
      height: 90px;
      flex-flow: row wrap;
      column-gap: var(--size-xs);
      justify-content: space-between;
    }
  }

  &__sidebar {
    grid-area: sidebar;
    padding: 0 var(--size-sm);
  }

  &__content {
    grid-area: body;
    padding: 0 var(--size-sm) var(--size-sm);
  }

  &__footer {
    grid-area: footer;
    background-color: var(--bg-color);
    border-width: var(--size-xxxxs);
    border-style: solid;
    border-image: linear-gradient(to right, var(--bg-color), var(--color-super-blue), var(--color-super-blue), var(--bg-color)) 1;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    padding: 0 var(--size-sm);
  }
}
