@import "../../../scss/mixins";

.article-card {
  height: 180px;
  padding: var(--size-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include card-style;

  @include breakpoint(sm) {
    width: 400px;
    @include card-style-remove;
  }

  dl {
    display: flex;
    flex-flow: row wrap;
  }

  &__dd {
    margin-left: 0;

    &--about p {
      @include ellipse-after-lines(4);

      @include breakpoint(sm) {
        @include ellipse-after-lines(5);
      }
    }
  }
}