@import  'node_modules/css.gg/icons/all.scss';
@import 'scss/colors.scss';
@import 'scss/misc.scss';
@import 'scss/sizes.scss';

:root {
  --base-font-size: 16px;

  /* theming */
  --bg-color: var(--color-white);
  --txt-color: var(--color-black);

  --theme-bg-color-default: #f6f6f6;
  --theme-txt-color-default: #175ea1;

  --theme-bg-color-night: #333;
  --theme-txt-color-night: #fff;

  --theme-bg-color-sunny: #f7ee9e;
  --theme-txt-color-sunny: #3c3cb6;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: var(--base-font-size);
  margin: 0;

  background-color: var(--bg-color);
  color: var(--txt-color);
}

a {
  color: var(--txt-color);
  text-decoration: underline;
}

code {
  font-family: 'Fira Code', monospace;
}

