@import 'scss/colors';
@import 'scss/misc';
@import 'scss/sizes';

:root {
  --base-font-size: 16px;

  /* theming */
  --bg-color: var(--color-white);
  --txt-color: var(--color-black);

  --theme-bg-color-default: #f6f6f6;
  --theme-txt-color-default: #175ea1;

  --theme-bg-color-night: #333;
  --theme-txt-color-night: #fff;

  --theme-bg-color-sunny: #f7ee9e;
  --theme-txt-color-sunny: #3c3cb6;

  --font-family: 'Inter var', Arial, Helvetica, sans-serif;
  --font-family-alt: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  margin: 0;

  background-color: var(--bg-color);
  color: var(--txt-color);
}

a {
  color: var(--txt-color);
  text-decoration: underline;
}

code {
  font-family: 'Fira Code', monospace;
}

p {
  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: var(--size-xxxs);
  }
}

h1 {
  font-family: var(--font-family-alt);
}

h2 {
  margin: var(--size-sm) 0 var(--size-xxs);
}

h3 {
  margin: var(--size-xxs) 0 var(--size-xxxs);
  font-weight: 400;
}

blockquote {
  border-left: var(--size-xxxxs) solid var(--color-taupe-grey);
  margin-left: var(--size-xxs);
  padding-left: var(--size-lg);
}

img {
  max-width: 90vw;
}
