@use 'sass:color' as color;

@import 'scss/colors';
@import 'scss/misc';
@import 'scss/sizes';

:root {
  --base-font-size: 16px;

  /* theming */
  --bg-color: var(--color-white);
  --txt-color: var(--color-black);

  &[data-theme="Default"] {
    --bg-color: var(--color-white-smoke);
    --txt-color: var(--color-super-blue-dark);
  }

  &[data-theme="Night"] {
    --bg-color: var(--color-charcoal);
    --txt-color: var(--color-white);
  }

  &[data-theme="Sunny"] {
    --bg-color: #f7ee9e;
    --txt-color: #3c3cb6;
  }

  --font-family: 'Inter var', Arial, Helvetica, sans-serif;
  --font-family-alt: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  margin: 0;

  background-color: var(--bg-color);
  color: var(--txt-color);
}

a {
  color: var(--txt-color);
  text-decoration: underline;
}

code,
code[class*="language-"],
pre[class*="language-"] {
  font-family: 'Fira Code', monospace;
}

p {
  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: var(--size-xxxs);
  }
}

h1 {
  font-family: var(--font-family-alt);
  margin-top: 0;
}

h2 {
  margin: var(--size-sm) 0 var(--size-xxs);
}

h3 {
  margin: var(--size-xxs) 0 var(--size-xxxs);
  font-weight: 400;
}

blockquote {
  border-left: var(--size-xxxxs) solid var(--color-taupe-grey);
  margin-left: var(--size-xxs);
  padding-left: var(--size-lg);
}

article {
  word-break: break-word;

  .sourceCode {
    overflow-x: auto;
  }

  img {
    max-width: 90vw;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
