:root {
  --border-radius-small: 0.125rem;
  --drop-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.12), 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 500;
}
