.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__link {
    display: flex;
    justify-content: space-between;
    padding: var(--size-md) var(--size-xl);
  }

  &__text {
    margin-left: var(--size-sm);
  }
}
