@import "../../../scss/mixins";

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;

  &__link {
    display: flex;
    justify-content: space-between;
    padding: var(--size-sm);

    @include breakpoint(md) {
      padding: var(--size-md) var(--size-xl) var(--size-lg);
    }
  }

  &__text {
    margin-left: var(--size-sm);
  }
}
